---
import BaseLayout from '../layouts/BaseLayout.astro';
import RadicalHero from '../components/RadicalHero.astro';
import PainPoints from '../components/PainPoints.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Pricing from '../components/Pricing.astro';
import FounderCredibility from '../components/FounderCredibility.astro';
import FAQ from '../components/FAQ.astro';
import MassiveCTA from '../components/MassiveCTA.astro';
import NeoFooter from '../components/NeoFooter.astro';
import WhatsAppFab from '../components/WhatsAppFab.astro';
---

<BaseLayout>
  <main>
    <RadicalHero />
    <PainPoints />
    <HowItWorks />
    <Pricing />
    <FounderCredibility />
    <FAQ />
    <MassiveCTA />
    <WhatsAppFab />
  </main>
  <NeoFooter />
</BaseLayout>
